/* line 4, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#container {
  min-height: 100%;
  position: relative;
}

/* line 5, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#header {
  background-color: #00274d;
  color: #FFF;
  border-bottom: 2px solid #083a7f;
  min-height: 70px;
}

/* line 6, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#menu {
  background-color: #001831;
  border-bottom: 4px solid #BA303A;
}

/* line 7, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#content {
  position: relative;
  width: 850px;
  margin: 10px auto 0 auto;
  padding: 15px 25px 15px 25px;
  background-color: #FFF;
  border-radius: 8px;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #AAA;
}

/* line 8, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #001831;
  color: #FFF;
  border-top: 4px solid #BA303A;
}

/* line 9, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#footer_spacer {
  height: 70px;
}

/* line 12, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#progress p span.status {
  margin-left: 3px;
}

/* line 13, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#progress p img {
  vertical-align: middle;
  margin-bottom: 4px;
}

/* line 15, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.menu {
  margin: 0;
  padding: 10px 15px 7px 15px;
  color: #FFF;
}

/* line 16, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.menu a, .footer a {
  color: #FFF;
}

/* line 17, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.footer {
  margin: 0;
  padding: 15px;
  text-align: center;
}

/* line 18, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.footer a {
  text-decoration: underline;
}

/* line 19, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.table_header td {
  font-weight: bold;
}

/* line 20, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.even td, .odd td, th {
  padding: 12px 7px 7px 7px;
}

/* line 21, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.even {
  background-color: #EEE;
}

/* line 22, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.odd {
  background-color: #FFF;
}

/* line 23, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.text_input {
  width: 280px;
}

/* line 24, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.user_welcome {
  float: right;
  margin-right: 15px;
}

/* line 25, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.user_welcome a {
  color: #FFF;
  text-decoration: underline;
}

/* line 26, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.user_groups {
  margin-right: 200px;
  display: block;
}

/* line 27, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.user_groups label {
  margin-right: 15px;
}

/* line 28, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.user_name, .user_expiration {
  min-width: 180px;
}

/* line 29, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.user_email {
  min-width: 370px;
}

/* line 30, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.group_name, .clipboard_item {
  min-width: 483px;
}

/* line 31, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.file_name {
  min-width: 250px;
  max-width: 400px;
  overflow: hidden;
}

/* line 32, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.file_name a, .shared_file a {
  color: #000;
  text-decoration: underline;
}

/* line 33, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.file_size {
  min-width: 100px;
}

/* line 34, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.disabled {
  color: #999;
}

/* line 35, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.breadcrumb {
  margin-bottom: 5px;
  padding: 4px;
  font-size: 11pt;
  background-color: #F6F6F6;
  border: 1px solid #DDD;
  border-bottom-color: #AAA;
  border-right-color: #CCC;
  display: inline-block;
}

/* line 36, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.nowrap {
  white-space: nowrap;
}

/* line 37, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.permission_column {
  width: 75px;
  text-align: center;
}

/* line 38, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.permissions_button, .back {
  display: inline-block;
  margin-top: 15px;
}

/* line 39, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.clipboard_empty {
  margin-top: 35px;
}

/* line 40, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.clipboard_info_image {
  float: left;
  margin: 3px 15px 15px 0;
}

/* line 41, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.button_to, .button_to div {
  display: inline;
}

/* line 44, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.emails_to_share_with {
  height: 39px;
  width: 755px;
}

/* line 46, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.share_message {
  height: 80px;
  width: 755px;
}

/* line 47, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.shared_file {
  display: inline-block;
  min-width: 400px;
  padding: 15px;
  background-color: #EEE;
}

/* line 48, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.shared_file img {
  margin-right: 8px;
}

/* line 49, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.share_link_emails {
  font-size: 11pt;
}

/* line 50, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.comma_seperated, .optional {
  position: relative;
  top: -1px;
  left: 3px;
  font-size: 10pt;
}

/* line 51, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.char_counter {
  float: right;
  margin: 5px 75px 0 0;
  font-size: 10pt;
}

/* line 52, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.translation .missing, .red {
  color: #F00;
}

/* line 54, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.error, .notice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 55, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.error {
  background-color: rgba(255, 0, 0, 0.8);
}

/* line 56, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.notice {
  background-color: rgba(0, 165, 0, 0.7);
}

/* line 58, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.error p, .notice p {
  display: inline-block;
  font-size: 16pt;
  color: #FFF;
  margin: 0;
  padding: 10px 0 10px 45px;
  background-repeat: no-repeat;
  background-position: 0 5px;
}

/* line 59, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.error p {
  background-image: url(exclamation.png);
}

/* line 60, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.notice p {
  background-image: url(information.png);
}

/* line 62, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
span.field_with_errors input, span.field_with_errors textarea {
  background-color: #FDD;
}

/* line 63, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#errorExplanation {
  width: 500px;
  border: 2px solid #c00;
  padding: 7px 7px 15px 7px;
  margin: 10px 0 10px 0;
  background-color: #f0f0f0;
}

/* line 64, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#errorExplanation p {
  padding-left: 8px;
}

/* line 65, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#errorExplanation h2 {
  text-align: left;
  font-size: 14pt;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  margin-bottom: 7px;
  background-color: #c00;
  color: #fff;
}

/* line 66, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#errorExplanation ul {
  margin: 0;
}

/* line 67, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
#errorExplanation ul li {
  list-style: square;
}

/* line 70, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.folder_menu, .user_menu, .group_menu {
  padding: 7px 14px 7px 14px;
}

/* line 71, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.folder_menu a, .user_menu a, .group_menu a {
  outline: none;
}

/* line 74, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.highlight {
  display: inline-block;
  margin: -7px 0 -7px 0;
  padding-left: 14px;
  background-color: #BA303A;
  border-radius: 15px;
}

/* line 75, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.highlight span {
  display: inline-block;
  height: 27px;
  padding: 7px 14px 0 0;
}

/* line 76, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
.highlight a {
  text-decoration: none;
  color: #FFF;
  outline: none;
}

/* line 91, /Users/Jeff/workspace/mdbox.design/app/assets/stylesheets/boxroom.scss */
html, body {
  height: 100%;
}
